* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    position: fixed;
    top: 0;
    height: 7rem;
    width: 100%;
    background-color: #be3144;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#navbar {
    height: 100%;
    display: flex;
    align-items: center;
}

#navbar li {
    list-style: none;
}

#navbar a,
.socials a {
    font-size: 2.5rem;
    padding: 2.5rem;
    text-decoration: none;
    color: #eee;
}

#navbar a:hover {
    background-color: #45567d;
}

#welcome-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #eee;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section h1,
#contacts h2 {
    font-size: 6rem;
}

#welcome-section p {
    font-size: 3rem;
    color: #be3144;
}

#projects {
    width: 100%;
    background-color: #45567d;
    padding: 10rem 2.5rem;
}

#projects h2 {
    font-size: 4rem;
    color: #eee;
    width: 55rem;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 0.5rem;
}

.projects-grid {
    margin-top: 8rem;
    width: 100%;
    display: grid;
    /*
    Used to automatically create a column when we add a new element inside our grid. 
    The width per column will adjust to fit the width of the whole projects-grid.
    Any additional element that will not fit horizontally will be collapsed to a new row
    */
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    /*gap per column and row*/
    column-gap: 5rem;
    row-gap: 5rem;
}

/*to center the image and title per project*/
.projects-grid a {
    /*
    The width of the p element inside this a element(the project-title class) 
    uses the entire projects-grid's width when there is only 1 a element inside the projects-grid

    So adding the grid and justify-content to the a element made the following changes:
    
    1. the elements inside the a element is in the center of the projects-grid column 
    when there is only 1 a element inside the projects-grid

    2. p element's width became equal to the img element's width when there is only 1 a element
    when there is only 1 a element inside the projects-grid
    */
    display: grid;
    justify-content: center;
}

.project-title {
    font-size: 2.5rem;
    padding: 2rem;
    text-align: center;
    background-color: #303841;
}

#contacts {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #303841;
    color: #eee;
    border-bottom: 0.6rem solid #be3144;
}

#contacts > p {
    font-size: 2rem;
}

.socials {
    height: 8rem;
    display: flex;
    align-items: center;
}

.socials a {
    transition: 0.3s;
}

.socials a:hover {
    transform: translateY(1rem);
}

.footer {
    height: 15vh;
    width: 100%;
    background-color: #303841;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    font-size: 2rem;
}

.footer a,
.projects-grid a {
    text-decoration: none;
    color: #eee;
}

.footer .fab {
    font-size: 1.7rem;
}